.header_AE {
    background-image: url("../../assets/AED/fond_origi.png");
    background-size: cover;
    height: 620px;
    position: relative;
}

.logo_ae {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13rem;
}

.title_AE {
    margin: 0.3rem;
    font-size: 4.5rem;
    text-align: center;
    z-index: 2;
    position: relative;
}

.subtitle_AE {
    margin: 0.5rem;
    font-size: 1.9rem;
    text-align: center;
    z-index: 2;
    position: relative;
}

.blur {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    filter: blur(1rem);
    height: 10rem;
    bottom: -1rem;
    z-index: 1;
}

.mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.first-cards {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;  
      
}
.first-cards-content {
    margin-top: 6.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0rem;
}

.capacitacion {
    margin: 0;
    height: 800px;
}
.capacitacion-container {
    background-size: cover;
    display: flex;
    height: 380px;
    justify-content: center;
    text-align: center;
    position: relative;
}

.text-section {
    z-index: 2;
}

/* Cada contenedor usa una imagen distinta */ 
#cont-1 {
    background-image: url("../../assets/AED/programas_capacitacion.svg");

}

#cont-2 {
    background-image: url("../../assets/AED/cursos_medida.svg");

}
#cont-3 {
    background-image: url("../../assets/AED/conferencias.svg");

}


.capacitacion-container h1 {
    font-size: 3.2rem;
}

.capacitacion-container p {
    text-align: justify;
    font-size: 1.6rem;
    margin: 0rem 20rem;
    
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;

}

.content-row img {
    margin: 0rem 1.9rem;
}

