.header_AE {
    background-image: url("../../assets/Antares_ED/fond_origi.png");
    background-size: cover;
    height: 620px;
    position: relative;
}

.logo_ae {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13rem;
}

.title_AE {
    margin: 0.3rem;
    font-size: 4.5rem;
    text-align: center;
}

.subtitle_AE {
    margin: 0.5rem;
    font-size: 1.9rem;
    text-align: center;
}

.img_rectangulo {
    width: 100rem;
    height: 5.1rem;   
}


.img_rectangulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-cards {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;  
      
}
.first-cards-content {
    margin-top: 6.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0rem;
}

.capacitacion {
    margin: 0;
    height: 800px;
}
.capacitacion-container {
    background-size: cover;
    display: flex;
    height: 380px;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Cada contenedor usa una imagen distinta */ 
#cont-1 {
    background-image: url("../../assets/Antares_ED/programas_capacitacion.svg");

}

#cont-2 {
    background-image: url("../../assets/Antares_ED/cursos_medida.svg");

}
#cont-3 {
    background-image: url("../../assets/Antares_ED/conferencias.svg");

}

.capacitacion-container h1 {
    font-size: 3.2rem;
}

.capacitacion-container p {
    text-align: justify;
    font-size: 1.6rem;
    margin: 0rem 20rem;
    
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;

}

.content-row img {
    margin: 0rem 1.9rem;
}

.divisor-bottom-line {
    border-bottom: 0.1rem solid white;
    height: 2.5rem;
    margin-right: 0rem 5rem;
}

/*formulario */
.formulario {
    margin: 0rem 2rem;
}
.formulario h1 {
    text-align: center;
    font-size: 3.2rem;
    margin: 0
}