@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --bg-color: #282828;
    --red-antares: #911010;
    --black-antares: #0B0B0B;
    --white-antares: #E1E1E1;
    --blue-antares: #0E377E;
    --JetBrains: "JetBrains Mono", monospace;
    --Space: "Space Grotesk", sans-serif;
}

html {
    background-color: var(--bg-color);
    font-family: var(--Space);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--white-antares);
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.shadow-box {
    background-color: rgba(0, 0, 0, 0.55);
}